@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 43% 97%;
    --foreground: 224 7.1% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 7.1% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 7.1% 4.1%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 7.1% 4.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46.1%;
    --accent: 265 43% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 91%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 265 43% 58%;
    --chart-3: 220 30% 60%;
    --chart-4: 231 30% 70%;
    --chart-5: 265 30% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 7.1% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 7.1% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 7.1% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 15%;
    --muted-foreground: 220 9% 55%;
    --accent: 265 43% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 15%;
    --input: 220 13% 15%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 265 43% 58%;
    --chart-3: 220 30% 60%;
    --chart-4: 231 30% 70%;
    --chart-5: 265 30% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
